.topBar {
  position: fixed;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #43e895;
  height: 65px;
  vertical-align: middle;
  z-index: 3;
}
.titleText {
  font-family: "Mulish";
  font-weight: 600;
  color: #ffffff;
  font-size: 17px;
  margin-bottom: 1%;
  margin-left: 3%;
}

.mapIcon {
  width: auto;
  height: 32px;
  margin-top: 3%;
  margin-right: 4%;
}

.backIcon {
  width: auto;
  height: 25px;
  margin-top: 2%;
  margin-left: 3.5%;
}

.hiddenBackIcon {
  width: auto;
  height: 25px;
  margin-top: 2%;
  margin-left: 3.5%;
  visibility: hidden;
}

@media (min-width: 550px) {
  .titleText {
    font-size: 24px;
  }
  .mapIcon {
    visibility: hidden;
  }
  .backIcon {
    visibility: hidden;
  }
}

@media (min-width: 1030px) {
  .titleText {
    font-size: 28px;
    margin-bottom:1%;
  }
  
}
