.sLoadIcon {
  margin-top: 50%;
}

.scrollWindow {
  padding-top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  z-index: -1;
}

@media (min-width: 550px) {
  .scrollWindow {
    width: 50%;
    left: 50%;
    float: right;
    max-width: 360px;
    overflow-y: scroll;
    max-height: 100%;
    height: 100vh;
    
  }
  .loadingWindow {
    width: 50%;
  }
}
